<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.konkuk.personal.ui.settings.SettingsActivity"
            android:theme="@style/Theme.LiteWeight_Android.NoActionBar" />
        <activity
            android:name="com.konkuk.personal.ui.settings.EditNameActivity"
            android:theme="@style/Theme.LiteWeight_Android.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.konkuk.personal.ui.settings.EditAgeActivity"
            android:theme="@style/Theme.LiteWeight_Android.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>