<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.result.CaptureResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.capture.CaptureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.enroll.EnrollTextInput"
            android:exported="false" />
    </application>

</manifest>